

.nav {
    background-color: #7ed321;
    .nav-logo-part{
        display: flex;
        padding: 37px 30px;
        align-items: center;
        justify-content: space-between;
        h3{
            color: white; 
        }
        .nav-menu{
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: space-between;
            li {
                a {
                    text-decoration: none;
                    margin-left: 47px;
                    font-family: SFUIText;
                    width: 35px;
                    height: 16px;
                    font-family: SFUIText;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    color: white;
                    padding-bottom: 4px;
                    text-transform: uppercase;
                }
                a.active {
                    border-bottom: 2px solid white;
                    padding-top: 4px;
                }
            }
            button {
                border:none;
                background-color: transparent;
                margin-left: 47px;
            }
            .filter-btn {
                border: 1px solid #62aa14;
                padding: 7px 5px;
                border-radius: 10px;
                path {
                    fill: #62aa14;
                }
            }
            .def-filter{
                border: 1px solid transparent;
                padding: 7px 5px;

            }
        }
    }
}

.date-part{
    display: flex;
    justify-content: center;
    padding: 16px 0;
    align-items: center;
    background-color: #eaeaea;
    label {
        font-size: 13px;
        font-family: SFUIText;
        font-style: normal;
        text-align: center;
        margin-right: 15px;
        margin-left: 45px;
    }
    input {
        width: 100px;
        height: 31px;
        border-radius: 31px;
        border: 1px solid #979797;
        outline: none;
    }
}
.main-block {
    background-color: #e990f9;
    width: 503px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 379px;
    border-radius: 44px;
    transform: translateY(30%);
    top: 50%;
    button {
        border: 3px solid white;
        background-color: transparent;
        color: #fff;
        font-family: SFUIText;
        font-weight: bold;
        font-size: 18px;
        border-radius: 36px;
        padding: 20px 34px;
        margin-top: 56px;
        cursor: pointer;
    }
}
.first-block {
    display: flex;
    justify-content: center;
}
